/* Clear user-agent styles. */
*:where(:not(audio, canvas, iframe, img, svg, video):not(svg *, symbol *)) {
	all:     unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button {
	cursor: revert;
}

ol,
ul,
menu {
	list-style: none;
}

table {
	border-collapse: collapse;
}

textarea {
	white-space: revert;
}

::placeholder {
	all: unset;
}



/* Some sensible defaults. */
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

audio,
img,
video,
iframe {
	display: block;
	max-width: 100%;
	width: 100%;
}
