
body {
	background-color: black;
	color: white;
	font-family: 'Archivo Black', sans-serif;
}


#channel-title {
	font-size: 100px;
}

header{
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	padding-bottom: 20px;
}

a:hover {
	color: yellow;
}

h1{
	padding-bottom: 30px;
}

h2{
	font-size: 30px;
}

h3{
	padding-top: 20px;
	position: static;
}

section {
 padding-top: 300px;
 padding-bottom: 100px;
 display: flex;
 flex-wrap: wrap;
}

.image {
 width: 150px;
 height: 100px;
 object-fit: cover;
}

iframe {
 width: 150px;
 height: 100px;
 object-fit: fill;
}

figure {
 margin: 10px;
}

@media (min-width: 375px) {
 #channel-title{
	font-size: 80px;
	}
}
